@use 'variables';

section .new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: variables.$default-font-stack;
}

textarea {
  width: 100%;
  border-style: none;
  outline: none;
  border-bottom: 5px solid variables.$secondary-color;
  color: variables.$secondary-color;
  background-color: #f4f1ec;
  font-weight: bold;
  font-size: 30px;
  opacity: 0.9;
}

.btn-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: variables.$main-font-stack;
  margin-top: 5px;
}

.btn-tweet {
  background-color: variables.$main-color;
  color:#FFFFFF;
  padding: 5px;
}

.btn-tweet:hover {
  cursor: pointer;
}

.counter {
  color: variables.$secondary-color;
}

.red-counter {
  color: red;
}

article.tweet-container {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 5px solid variables.$secondary-color;
  padding: 50px;
  width: 100%;
}

article:hover {
  box-shadow: 6px 6px lightsteelblue;
}

article.tweet-container header,
article.tweet-container footer
 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

article.tweet-container .user-avatar {
  display: flex;
  align-items: center;
}

article.tweet-container .user-handle {
  font-weight: bold;
  color: lightgray;
}

article.tweet-container .tweet-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: bold;
}

article.tweet-container footer {
  border-top: 5px solid variables.$secondary-color;
  padding: 10px;
}

article.tweet-container .icons {
  width: 8%;
  display: flex;
  justify-content: space-between;
  color: variables.$main-color;
}

.fa-flag:hover,
.fa-retweet:hover,
.fa-heart:hover {
  color: goldenrod;
  cursor: pointer;
}

.new-tweet .err-msg {
  color: red;
  border: 4px solid red;
  padding: 10px;
}

#scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 5;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

#scroll-top-btn:hover,
.fa-angles-down:hover {
  cursor: pointer;
}

#new-tweet-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}