header.user-info {
  padding-top: 120px;
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4056A1;
  background-image: url(../images/cross-scratches.png);
}

header.user-info .name {
  color:white;
}