header.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  height: 520px;
  width: 100%;
  background-color: #4056A1;
  background-image: url(../images/cross-scratches.png);
}

header.user-info .name {
  color: white;
}

@media only screen and (min-width: 1024px) {
  header.user-info {
    width: 30%;
    margin-top: 200px;
  }
}
